*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "roboto",sans-serif;
  background-color: #1c2023;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.form{
  background-color: #2f3542;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.form input{
  padding: 0.8rem 1rem;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #595d68;
  color: #fafafa;
  border-radius: .8em;

}
input::placeholder{
  color: #82868e;
}
img{
  height: 355px;
}
.submit{
  background-color: #d36e7e;
  padding: 1rem;
  outline: none;
  color: #fafafa;
    border-radius: .8em;
  width: 100%;
  cursor: pointer;
}

.loading{
  width: 80%;
  height: 350px;
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.loading span{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 3px solid #fff;
  border-bottom: 0;
  border-radius: 50%;
  animation:_loading 1s linear infinite;
}
@keyframes _loading {
  0%{
    transform: rotate(360deg);
  }
}